@{
    ViewBag.Title = ".::Inicio - Aplicación::.";
}
<h2>Aplicaci&oacute;n</h2>
<p>
    Esta aplicaci&oacute;n se desarroll&oacute; haciendo uso de ASP.NET MVC 4 en lenguaje C#<br />
    El c&oacute;digo fuente puede ser encontrado en el repositorio
    <a href="https://github.com/rejbarrera/Aplicacion.git" target="_blank">Aplicacion</a> de mi github,
    junto con los códigos T-SQL de la base de datos.<br />
    El esquema de bases de datos y sus entidades se crearon con Entity Framework a partir de
    los Modelos.
</p>
<p>
    Tambi&eacute;n se utilizaron las siguientes herramientas:
</p>
<ul>
    <li>Bootstrap - para los estilos de front-end</li>
    <li>JQuery - Para realizar las validaciones de entradas de datos y otras</li>
</ul>
<h3>Consideraciones de la aplicaci&oacute;n:</h3>
<ul>
    <li>Se consider&oacute; integridad referencial para que al momento de eliminar una oficina,
    no existieran referencias hu&eacute;rfanas en la tabla de empleados.
    </li>
    <li>
        Se utilizó SQL Server en una LocalDB, la Base de datos es parte de la aplicación. Esto
        permite la portabilidad de la Aplicación sin necesidad de configurar una Base de Datos Externa.
    </li>
</ul>

<strong>Desarrollado por:</strong> Roberto Ernesto Jovel Barrera - rej.barrera@gmail.com
